.cardContainer {
    height: 250px;
    width: 490px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 170px;
}

.image {
    object-fit: cover;
}

.titleCard {
    font-size: 18px;
    font-weight: 700;
}

.locationCard {
    font-size: 17px;
    font-weight: 300;
}

.textContainer {
    line-height: 100%;
}

.contentCardContainer {
    display: flex;
    margin: 15px;
    justify-content: space-between;
}
