.containerError {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffa9a977;
    border-radius: 30px;
    box-shadow: 2px 6px 15px rgba(165, 42, 42, 0.5);
}

.title {
    font-size: 100px;
}

.content {
    font-size: 40px;
}
